<ion-header>
  <ion-toolbar>
    <ion-title>Cinema</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{nomeUser}}</ion-card-subtitle>
      <ion-text >
        Texto que o usuario digitar
      </ion-text>
    </ion-card-header>
  </ion-card>
</ion-content>
<ion-footer no-shadow>
  <ion-item>
    <ion-textarea placeholder="Enter more information here..."></ion-textarea>
  </ion-item>
  <ion-toolbar position="bottom">
    <ion-button expand="block">Enviar</ion-button>
  </ion-toolbar>
</ion-footer>